[submodule "locate-3d"]
	path = locate-3d
	url = https://github.com/lorenz369/locate-3d.git
[submodule "ml-depth-pro"]
	path = ml-depth-pro
	url = https://github.com/apple/ml-depth-pro.git
[submodule "vggt"]
	path = vggt
	url = https://github.com/tim-cramer/vggt.git
	branch = feature/pointcloud-aggregation
